.gradCircle {
  width: 550px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 550px;
  background: linear-gradient(
    180deg,
    rgba(12, 76, 218, 0.4) 0%,
    rgba(123, 97, 255, 0.4) 100%
  );
  position: absolute;
  filter: blur(100px);
}
